first_app/.DS_Store
first_app/.dart_tool/
first_app/.packages
first_app/.pub/

first_app/build/

first_app/.flutter-plugins
first_app/andriod/app/google-services.json
andriod/google-services.json
ios/GoogleService-Info.plist